@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
  // & > div[class*="ant-layout-header ant-pro-top-menu"] { 
  //   height: 60px !important;
  //   line-height: 60px !important;
  // }
}

.ant-pro-top-nav-header-logo h1 {
  font-family: fantasy;
}

.ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span {
  font-size: 14px;
  color: #646464;
  font-family: 'rubikregular';
  // text-decoration: none;
  // letter-spacing: 1px;
  // cursor: pointer;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
